.product-page {
  height: fit-content;
  padding: 0 20px 20px;
}
.product-page img{
  max-width: 100%
}
.product-page .item-info{
  padding-top: 15px;
  height: 100%;
}
.product-page .item-info h4{
  font: 800 20px/24px "Open Sans", sans-serif;
}
.product-page .item-info p:nth-child(2){
  font: 800 20px / 24px "Open Sans", sans-serif;
}
.product-page .item-info p:nth-child(3){
  font: 600 16px / 21px "Open Sans", sans-serif;
}
@media (min-width: 769px) {
  .product-page {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1161px;
    padding-bottom: 30px;
  }
  .product-page img {
    width: 450px;
  }
  .product-page .item-info {
    max-width: 450px;
  }
  .product-page h4 {
    font: 600 28px / 32px "Open Sans", sans-serif;
    width: 100%;
  }
  .product-page p {
    display: flex;
    width: 100%;
  }
  .product-page .item-info p {
    padding: 5px 0;
  }
  .product-page .item-info p:nth-child(2){
    font: 800 20px / 24px "Open Sans", sans-serif;
  }
  .product-page .item-info p:nth-child(3){
    font: 600 16px / 21px "Open Sans", sans-serif;
  }
}
